@import url('https://fonts.googleapis.com/css2?family=Comme:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Comme", sans-serif;
}

body{
  background: #051A26;  
  background: -webkit-linear-gradient(to right, #051A26, #203A43, #0F2027);  
  background: linear-gradient(to right, #051A26, #203A43, #0F2027); 

}

